$color-primary:#f69627;
$color-background:#ffffff;
$color-snackbar: #323232;
$color-white: #ffffff;
$color-light-gray: #f7f7f7;
$color-dark-gray: #777777;
$header-font-color:#ffffff;

* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}

html, body {
  background-color: $color-background;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
    position : relative;
}

#header {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 8px;
  padding-left: 8px;
  z-index: 100;
  background-color: $color-primary;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  #menu-button {
      margin-top : 2px;
      color : $header-font-color;
  }
  .title {
      display : inline-block;
      color : $header-font-color;
      height : 40px;
      line-height : 40px;
      vertical-align : top;
  }
}

#container {
    position: absolute;
    width : 100%;    
    margin-top: 60px;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

#menu {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 102;
  visibility: hidden;
  width: 240px;
  height: 100%;
  background: #434343;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding: 10px;
  .user-info {
      .thumbnail {
          display : block;
          width : 120px;
          height : 120px;
          margin-left : auto;
          margin-right : auto;
          margin-top : 16px;
      }
  }
  .button-logout {
      display : block;
      margin-top : 8px;
      margin-left : auto;
      margin-right : auto;
      padding-left : 16px;
      padding-right : 16px;
      height : 48px;
      background-color : $color-primary;
      color : $color-white;
  }
}

#menu-list {
  margin-top: 8px;
  margin-bottom : 8px;
  li {
      min-height: 48px;
      line-height : 48px;
      cursor: pointer;
      &:hover {
          background-color : $color-dark-gray;
      }
  }
}

#menu-button {
  background-color: transparent;
  border: none;
  color: #222;
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;  
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu-checkbox:checked ~ #overlay {
  display: block;
}
#menu-checkbox:checked ~ #menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menu-checkbox:checked ~ #header #three-lines {
  position: relative;
  left: -3px;
}

/* Snackbar */
#snack {
    position : fixed;
    left : 16px;
    bottom : 16px;
    ul {
        padding : 4px 8px;
        list-style : none;
        background-color : $color-snackbar; 
        li {
            color : $color-white;
        }
    }
}

#loading {
    label {
        display : block;
        width : 200px;
        margin-left : auto;
        margin-right : auto;
        text-align : center;
    }
}

/* Common */
.card-2 {
    margin: 8px 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.button-primary {
    background-color : $color-primary;
    color : $color-white;
    text-align : center;
    cursor : pointer; 
}

/* Login form */
.loginForm {
    width : 332px;
    margin : 16px auto;
    padding : 8px 16px;
    background-color: $color-light-gray;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);   
    .form-item {
        margin-top : 8px;
        margin-bottom : 8px;
    }
    label {
        display: inline-block;
        width : 100px;
    }
    input {
        width : 200px;
    }
    .button-primary {
        margin-top: 16px;
    }
}

/* conference  */

.conference {
    margin-left : 16px;
    margin-right: 16px;
    li {
        display: block;
        border-bottom: 1px solid #cecece;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }
    h2 {
        padding : 8px;
    }
    p { 
        padding : 8px;
    }
}

/* company  */

.companies {
    margin-left : 16px;
    margin-right: 16px;    
    display : block;
    padding: 8px 16px;
    border-collapse : collapse;
    thead tr {
        border-bottom : solid 1px $color-dark-gray;
        th {
            text-align : left;
        }
    }
    tbody {
        tr {
            border-bottom : solid 1px $color-light-gray;
            height : 44px;
            &:hover {
                background-color : $color-light-gray;
                cursor : pointer; 
            }
        }
        td {
            padding-right : 8px;
        }
    }
    .name-col {
        width : 1%;
        min-width : 15em;
    }
}

/* Company Detail */
.CompanyDetail {
    margin : 8px 16px;
    padding : 8px 16px;
    .thumbnail {
        display : block;
        width : 128px;
        height : 128px;
    }
    .url {
        font-size : small;
    }
    .desc {
        margin-top : 16px;
    }
}

/* members  */

.members {
    display : block;
    padding: 8px 16px;
    border-collapse : collapse;
    thead tr {
        border-bottom : solid 1px $color-dark-gray;
        th {
            text-align : left;
        }
    }
    tbody {
        tr {
            border-bottom : solid 1px $color-light-gray;
            height : 44px;
            &:hover {
                background-color : $color-light-gray;
                cursor : pointer; 
            }
        }
        td {
            padding-right : 8px;
        }
    }
    .name-col {
        width : 1%;
        min-width : 8em;
    }
    .org-col {
        width : 1%;
        min-width : 16em;
    }
}

/* Member Detail */
.MemberDetail {
    margin : 16px 16px;
    padding : 8px 16px;
    .thumbnail {
        display : block;
        width : 128px;
        height : 128px;
    }
    .name {
        display : inline-block;
    }
    .email {
        margin-left : 8px;
        font-size : small;
    }
    .desc {
        margin-top : 16px;
    }
}

/* Edit Account */
.EditAccount {
    padding : 8px 16px;
    width : 600px;
    margin-left : auto;
    margin-right : auto;
    ul {
        list-style-type: none;
    }
    li {
        min-height : 48px;
        label {
            display : inline-block;
            width : 130px;
        }
        input {
            width : calc(100% - 146px);
            min-height : 40px;
        }
        textarea {
            vertical-align : top;
            width : calc(100% - 146px);
            height : 64px;
            resize : none;
        }
    }
    .button-submit {
        width : 100px;
        margin-left : auto;
        margin-right : 16px;        
        padding : 8px 16px;
        label {
            width : 100%;
            padding : 8px 16px;            
        }
    }
}